:root {
    --primary-color: #F46C12;
    --secondary-color: 	#FFFFFF;
    --third-color: black;
    --fourth-color: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
}
*{
  margin: 0;
  padding: 0;
}
body{
 min-height: 100vh;  
 background-image: url('/assets:images/womanholdingbell.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}