:root {
    --primary-color: #F46C12;
    --secondary-color: 	#FFFFFF;
    --third-color: black;
    --fourth-color: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
    --fifth-color: #f0f0f0;
}
*{
  margin: 0;
  padding: 0;
}
body{
 min-height: 100vh;
 background: var(--fourth-color);
 /* background-image: url('./assets/images/womanholdingbell.jpg'); */
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image-container {
  width: 50vw; /* Half of the viewport width */
  height: 100vh; /* Full height of the viewport */
  background-image: url('./assets/images/womanholdingbell.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; /* Allows positioning */
  right: 0; /* Align the container to the right side */
  top: 0;
  z-index: 1;
  opacity: 50%;
 
}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) ;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--third-color);
}
nav a:hover{
  background-color: var(--fifth-color);
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
.menu-image {
    width: 100px;          /* Adjust the size of the image */
    height: auto;          /* Maintains the aspect ratio */
    border-radius: 5px;    /* Adds slight rounding to the image corners */
    transition: transform 0.3s ease; /* Adds a smooth animation */
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}
