:root {
  --primary-color: #F46C12;
  --secondary-color: #ddd;
  --third-color: black;
  --fifth-color: #f0f0f0;
    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
    --font-weight-normal: 400;
     --font-weight-semibold: 600;
    --font-weight-bold: 800;
    --border-radius-s: 8px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@400;700&display=swap');

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
  
}
html{
background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
}

.image-container {
  width: 50vw;
  height: 100vh;
  background-image: url('./assets/images/womanholdingbell.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
   opacity: 0.5;
  z-index: 0;
  pointer-events: none;
}


nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
nav li {
  height: 50px;
  
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--third-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
   border-radius: var(--border-radius-s);
}

nav a:hover {
  background-color: var(--fifth-color);
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.nabar-toggler {
display: none;
border: none;
background-color: transparent;
}

.menu-image {
  width: 100px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .nabar-toggler {
    display: block;
  }

}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
    margin: 0;
  }

}

.login-logout {
  padding: 10px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--border-radius-s);
    position: relative;
   z-index: 10; 
}
.login-logout:hover {
  color: var(--fifth-color);
  background-color: var(--primary-color);
}



.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  color: var(--secondary-color); 
  text-align: center;
  padding: 0 1rem;
  
}
h1{
  padding: 2rem;
  color: var(--third-color);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  line-height: 1.2; 
 
}

.cta-button-one {
  padding: 1rem 2rem; 
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  z-index: 999;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-s);  
}
.cta-button-one:hover {
  color: var(--fifth-color);
  background-color: var(--primary-color);
}
/* Media Queries for Responsive Design */
@media (max-width: 800px) {
  h1 {
    font-size: var(--font-size-xl); 
    padding: 1.5rem; 
  }
  .cta-button-one {
    font-size: var(--font-size-s); 
    padding: 0.75rem 1.5rem; 
     z-index: 0;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: var(--font-size-l); 
    padding: 1rem; 
  }

  .cta-button-one {
    padding: 0.5rem 1rem; 
    width: 100%; 
    z-index: 0;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: var(--font-size-m); 
    padding: 0.5rem;
  }

  .cta-button-one {
    font-size: var(--font-size-s); 
     z-index: 0;
  }
}

/* content section  */
h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px; 
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

p {
  color: var(--third-color);
  line-height: 1.6; 
  font-size: var(--font-size-m);
}

.content {
  padding: 50px 15px;
  border-radius: var(--border-radius-s); 
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; 
  flex-wrap: wrap; 
  gap: 20px;
  max-width: 1200px; 
  margin: 0 auto; 
}

.text-box {
  max-width: 500px;
  flex: 1;
  padding: 20px;
  border-radius: var(--border-radius-s);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.video-box {
  flex: 1;
  max-width: 600px;
  padding: 0;
  display: flex; 
  justify-content: center;
}

.video-box video {
  width: 100%;
  height: auto;
  object-fit: cover; 
  border-radius: var(--border-radius-s);
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column; 
  }

  .text-box, .video-box {
    max-width: 100%;
    padding: 10px; 
  }
}

/* about section */
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: auto; 
  gap: 2rem;
  border-radius: var(--border-radius-s); 
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-text h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5rem; 
}

.about-text p {
 font-size: var(--font-size-m);
  color: var(--third-color);
  line-height: 1.6; 
}

.cta-buttons {
  display: flex;
  gap: 1rem;
}

.cta-buttons button {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: var(--border-radius-s);
  transition: background-color 0.3s ease; 
}

.btn-primary {
  background-color: var(--third-color);
  color: var(--fifth-color);
}

.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--fifth-color); 
}

/* Slideshow styling */
.slideshow-section {
  flex: 1;
  position: relative;
  max-width: 600px;
}

.slideshow-section .slide {
  display: none; 
}

.slideshow-section img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius-s);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: var(--secondary-color);
  font-weight: bold;
  transition: 0.3s ease;
  border-radius: 50%; 
}

.prev {
  left: 10px; 
}

.next {
  right: 10px; 
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .about-text h2 {
     font-size: var(--font-size-xl);
  }

  .cta-buttons {
    flex-direction: column; 
    gap: 0.5rem; 
  }
}

@media (max-width: 480px) {
  .about-text h2 {
    font-size: var(--font-size-l);
  }

  .about-text p {
    font-size: var(--font-size-s);
  }
}

/* testimonials */
.testimonial-section {
  width: 100%;
  text-align: center;
   padding: 2rem 0;
/* background-color: rgba(249, 249, 249, 0.5);  */
    border-radius: var(--border-radius-s);
    
}

.heading-container {
margin: 20px 0;   
   
}

.heading-container h2 {
   font-size: var(--font-size-xl);       
}

.wrapper {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  max-width: 1200px; 
  margin: 0 auto; 
}

.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: var(--third-color);
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
   border-radius: var(--border-radius-s); 
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(64, 64, 64, 1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
   border-radius: var(--border-radius-s); 
  
}

.card .info {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card .info h3 {
  margin: 0;
  font-size: var(--font-size-l); 
  color: var(--third-color);
}

.card .info p {
  letter-spacing: 1px;
  font-size: var(--font-size-s);
  margin-top: 8px;
  margin-bottom: 20px;
  color: var(--fifth-color);
}


.card:hover:before {
  background: linear-gradient(to bottom, rgba(255, 165, 0, 0.5), rgba(255, 140, 0, 1)); 
   border-radius: var(--border-radius-s); 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column; 
    align-items: center; 
  }

  .card {
    width: 90%; 
    max-width: 400px; 
  }

  .heading-container h2 {
     font-size: var(--font-size-l);
  }
}

@media (max-width: 480px) {
  .heading-container h2 {
     font-size: var(--font-size-m); 
  }

  .card .info p {
 font-size: var(--font-size-s); 
  }
}

/* price section */

.pricing-section {
  text-align: center;
  padding: 50px 20px;
}

.pricing-title {
  font-size:var(--font-size-xl); 
  margin-bottom: 30px;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pricing-card {
  background-color: var(--fifth-color);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.pricing-card:hover {
  transform: translateY(-10px);
}

.pricing-card h3 {
  font-size: var(--font-size-l);
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.price {
  font-size: 2rem;
  margin: 20px 0;
}

.price span {
  font-size: 1rem;
  color: var(--third-color);
}

.features {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.features li {
  padding: 10px 0;
  border-bottom: 1px solid var(--secondary-color);
}

.features li:last-child {
  border-bottom: none;
}

.btn-select {
  color: var(--primary-color);
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;

}

.btn-select:hover {
  background-color: var(--primary-color);
  color: var(--fifth-color)
}

.featured {
  border: 2px solid var(--third-color);
  transform: scale(1.05);
}

/* Responsive styles */
 
footer {
  padding: 20px; 
  background-color: var(--fifth-color);
}

.footer-content {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.footer-contact a{
  color: var(--primary-color);
}

.footer-logo {
  max-width: 100px; 
  
}

.footer-text, .footer-contact {
  margin: 0; 
  text-align: center; 
   color: var(--third-color);
}






